h1 {
    font-weight: 900;
    color: #26a69a;
    text-align: center;
}

.right-padding {
    margin-right: 3em;
}

.error {
    font-weight: 500;
    color: red;
}

.success {
    font-weight: 500;
    color: forestgreen;
}